{% extends 'base.html' %}
{% block content %}
    <h1 class="mb-5">{{ title }}</h1>
    {% for author in authors %}
        <div class="bg-light border-dark border rounded-1 p-3 m-3">
            <div class="d-flex justify-content-between">
                <a href="{{ author.get_absolute_url }}" class="text-decoration-none">
                    <h4 class="field-name">{{ author.name }}</h4>
                </a>
            </div>
            <p class="field-name">{{ author.description|truncatewords:50 }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block pagination %}
    {% if page_obj.has_other_pages %}
        <nav class="d-flex justify-content-center">
            <ul class="pagination">
                {% if page_obj.number != 1 %}
                    <li class="page-item"><a class="page-link" href="?page=1">&lt;&lt;</a></li>
                {% endif %}

                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                {% endif %}

                {% if page_obj.number != page_obj.paginator.num_pages %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.paginator.num_pages }}">&gt;&gt;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}