{% extends 'base.html' %}
{% block content %}
    <h1 class="mb-5">{{ title }}</h1>
    <div>
        <div class="d-flex">
            {% if sort_list %}
                <div class="me-4">
                    <h4>Сортировка по: </h4>
                </div>
                {% for sort in sort_list %}
                    <p>{{ sort.list }}</p>
                    <div class="me-4">
                        <a class="text-decoration-none p-3 border border-black rounded-1"
                           href="?page=1&orderby={{ sort.value }}">{{ sort.name }}</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% for book in books %}
        <div class="bg-light border-dark border rounded-1 p-3 m-3">
            <div class="d-flex justify-content-between">
                <a href="{{ book.get_absolute_url }}" class="text-decoration-none">
                    <h4 class="field-name">{{ book.title }}</h4>
                </a>
                <div class="m-1">
                    {% with book.authors.all as authors %}
                        {% for author in authors %}
                            <a href="{{ author.get_absolute_url }}" class="text-decoration-none">
                                <p class="field-name">{{ author.name }}</p>
                            </a>
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>
            <p class="field-name">{{ book.description|truncatewords:50 }}</p>
        </div>
    {% endfor %}
    {% if favorite and not user.profile.favorite_books.count %}
        <h5>Вы пока не добавили ни одной книги в избранное :(</h5>
    {% endif %}
{% endblock %}

{% block pagination %}
    {% if page_obj.has_other_pages %}
        <nav class="d-flex justify-content-center">
            <ul class="pagination">
                {% if page_obj.number != 1 %}
                    <li class="page-item"><a class="page-link"
                                             href="?page=1&orderby={{ current_orderby }}">&lt;&lt;</a>
                    </li>
                {% endif %}

                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}&orderby={{ current_orderby }}">&lt;</a>
                    </li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active"><a class="page-link"
                                                        href="?page={{ p }}&orderby={{ current_orderby }}">{{ p }}</a>
                        </li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ p }}&orderby={{ current_orderby }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}&orderby={{ current_orderby }}">&gt;</a>
                    </li>
                {% endif %}

                {% if page_obj.number != page_obj.paginator.num_pages %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.paginator.num_pages }}&orderby={{ current_orderby }}">&gt;&gt;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}