{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'book/css/profile.css' %}">
{% endblock %}

{% block content %}

    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <form method="post" enctype="multipart/form-data">
                                        <div class="form-error">
                                            {{ user_form.non_field_errors }}{{ profile_form.non_field_errors }}</div>
                                        {% csrf_token %}
                                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Информация</h6>
                                        {% for f in form %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label class="m-b-10 f-w-600">{{ f.label }}
                                                        {{ f }}
                                                    </label>
                                                </div>
                                                <div class="form-error">{{ f.errors }}</div>
                                            </div>
                                        {% endfor %}
                                        <button type="submit">Сохранить изменения</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}